<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz4XIJTeNlQmJux1LwNPunE0WtjEEadUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>176813042326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiImageMakerr</string>
	<key>PROJECT_ID</key>
	<string>aiemojie</string>
	<key>STORAGE_BUCKET</key>
	<string>aiemojie.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176813042326:ios:a9b1c5f6893c1530cbf0b7</string>
</dict>
</plist>